@tailwind base;
@tailwind components;
@tailwind utilities;



/* CSS */


@layer utilities{
    html::-webkit-scrollbar{
    width: 0.2em;
}

html::-webkit-scrollbar-track{
    background-color: #00040F;
}

html::-webkit-scrollbar-thumb{
    height: 0.4em;
    border-radius: 0.2em;
    background-color: #ff9d2d;
}
}