@tailwind base;
@tailwind components;
@tailwind utilities;



/* CSS */

.navbar-active{
    background-color: white;
    position: fixed;
    z-index: 100;
    animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}